<%- include('./partials/header.ejs') %>

<body>
<%- include('./partials/navbar.ejs') %>
<div class="container">

    <hr>

    <h1><%= pergunta.titulo %></h1>
    <p><%= pergunta.descricao %></p>
    <hr>
    <br>
    <br>
    <form method="POST" action="/responder">
        <h4>Responda</h4>
        <hr>
        <label>Resposta:</label>
        <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea>
        <hr>
        <input type="hidden" name="pergunta" value="<%= pergunta.id%>">
        <br>
        <button type="submit" class="btn btn-primary"> Responder</button>
    </form>
    <hr>
    <h3>Respostas</h3>
    <% respostas.forEach(resposta => {%>
        <br>
        <div class="card">
           <div class="card-body">
               <p><%= resposta.corpo %></p>
           </div> 
        </div>
    <% }) %>
</div>

</body>
<%- include('./partials/footer.ejs') %>